@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  marhin: 0;
  padding: 0;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}
.border1 {
  box-shadow: rgba(3, 102, 214, 0.6) 10px 10px 10px 3px;
}
.sticky {
  position: fixed;
  background-color: black;
  color: white;
  z-index: 10;
  width: 100%;
}

.backUp {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
