@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  marhin: 0;
  padding: 0;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}
.border {
  box-shadow: rgba(3, 102, 214, 0.6) 10px 10px 10px 3px;
}
